---
layout: archive
title: "Portfolio"
permalink: /projectslist/
author_profile: false
header:
  teaser: ./assets/images/webDevStockImage.jpg
---

<div class="grid__wrapper">

  <ul>
    <li><a href="https://ancient-peak-57728.herokuapp.com/" style="color:blue;">Body Shop Profits and Loss Application</a></li>

    <li><a href="https://warm-chamber-97035.herokuapp.com/" style="color:blue;">Coffee Style Hangman Game</a></li>

  </ul> 

  {% for post in site.portfolio %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>